* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul {
    padding-left: 0rem;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #192F41, #1F2F51);
    color: white;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #00bfff;
}

.carousel-inner {
    left: 15%;
    height: 405px;
    width: 70%;
    overflow: hidden;
}

.carousel-inner .carousel-item {
    width: 100%;  
}

.carousel-inner a:hover {
    background-color: #00bfff;
}


/* 사이드바 스타일 */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #1b1d1f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar .logo img {
    width: 100px;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
}

.sidebar nav ul li {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar nav ul li i {
    margin-right: 10px;
}

.sidebar nav ul li:hover {
    background-color: #26292b;
}

.sidebar .social-media {
    display: flex;
    margin-top: auto;
    margin-right: auto;
    list-style: none;
    justify-content: space-between;
}


/* .sidebar .social-media {
    display: flex;
    margin-top: auto;
    list-style: none;
}
 */

.sidebar .social-media li {
    padding: 20px 10px 15px 23px;
}

/* .sidebar .social-media li:nth-child(1) {
    padding-left: 20px;
}
.sidebar .social-media li:nth-child(2) {
    padding-left: 20px;
}
.sidebar .social-media li:nth-child(3) {
    padding-left: 20px;
}
.sidebar .social-media li:nth-child(4) {
    padding-left: 20px;
} */

/* 메인 콘텐츠 스타일 */
main {
    background: linear-gradient(to right, #192F41, #1F2F51);
    margin-left: 200px;
    padding: 20px;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.login-btn {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.banner {
    text-align: center;
    padding: 60px 0;
    background-color: #1f2123;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 2.5em;
    color: #00bfff;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    color: #a9a9a9;
    margin-bottom: 20px;
}

.content-grid {
    display: flex;
    justify-content: space-between;
}

/* .grid-item {
    flex: 1;
    margin: 0 10px;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2c2e;
} */

/* 슬라이드 쇼 */
.slider .recommended {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 500px;
    align-items: center;
    background-color: #2a2c2e;
}

/* 게임순위 차트 */
.grid-item.chart {
    flex: 3; /* 60%에 해당하는 비율 */
    height: 600px;
    margin: 0 10px;
}

/* 유튜브 영상 */
.grid-item.video {
    flex: 2; /* 40%에 해당하는 비율 */
    height: 600px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.grid-item {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2c2e;
}


/* 뉴스 검색 */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #2a2d2f; 
    border-radius: 5px;
    padding: 5px 10px; 
    width: 60%; 
    max-width: 600px; 
    margin: 0 auto; 
}

.search-bar i {
    color: #00bfff; 
    font-size: 20px; 
    margin-right: 10px; 
}

.search-news {
    background-color: #2a2d2f;
    border: none; 
    color: white; 
    font-size: 1em;
    flex: 1; 
    padding: 10px; 
    border-radius: 5px;
}

.search-news::placeholder {
    color: #a9a9a9; 
}

/* 모바일 및 작은 화면에서 검색바 조정 */
@media (max-width: 768px) {
    .search-bar {
        width: 90%;
    }
}


/* 뉴스 리스트 스타일 */
.news-list {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.news-item {
    display: flex;
    align-items: center;
    background-color: #2a2c2e; 
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 0; 
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    gap: 15px; 
}
.news-item img {
    flex: 1.8; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5px;   
}

.news-item p {
    margin-bottom: 3px;
}


.news-content {
    flex: 4; 
}

.news-title {
    display: flex;
    font-size: 1.2em; 
}

.news-title label {
    margin-right: 8px;
}

.game-name, .author {
    font-size: 0.9em; 
    color: #a9a9a9; 
}

.bookmark {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
    align-items: center;
    gap: 5px; 
    margin: 10px 10px 10% 0;
}

.bookmark svg {
    padding-top: 8px;
    color: #00bfff;
    font-size: 60px; 
    cursor: pointer; 
}

.features {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
    align-items: center;
    gap: 5px; 
    margin: 10px 10px 10% 0;
}

.features svg {
    padding-top: 8px;
    color: #00FF80;
    font-size: 30px; 
    cursor: pointer; 
}

.features-detail {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
    align-items: center; 
    margin: 10px 10px 1% 0;
}

.features-detail svg {
    color: #00FF80;
    font-size: 30px; 
    cursor: pointer; 
}

.news-list .add-news {
    display: flex;
    width: 20%;
    align-self: center;
    justify-content: center;
    background-color: #1f2123; 
    border-radius: 8px; 
    padding: 10px;
    cursor: pointer; 
}

.news-detail-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #1f2123;
    margin-bottom: 20px;
}

.news-detail-header .capsule-img {
    padding: 20px;
}

.news-detail-header .news-title {
    padding: 20px;
    flex-direction: row;
}

.news-detail-content {
    display: flex;
    flex-direction: column;
    background-color: #2a2c2e; 
    border-radius: 8px; 
    padding: 10px;
    gap: 15px; 
}

.mypage {
    margin-right: 0.1%;
}

.mypage h1 {
    font-size: 2.5em;
    color: #00bfff;
}

.mypage .bg {
    background-color: #1f2123;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
}

.mypage Button {
    margin-bottom: 5%;
}

.popup-content{
    width: 100%; 
    height: 100vh;  
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

@media (max-width: 700px){
    .popup-content {
        width: 100%;
    }
}


/* Main content styles */
.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid #ccc; */
    margin-left: 200px;
    background: linear-gradient(to right, #192F41, #1F2F51);
}

.main-content .bookmark{
    margin-bottom: 20px;
}

/* Capsule Image */
.capsule-image {
    margin-bottom: 10px;
}

.capsule-image img {
    width: 100%;
    height: auto;
}

/* Title and Author */
.title-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Bookmark Icon */
.bookmark-icon {
    align-self: flex-end;
    margin-bottom: 10px;
}

.bookmark-icon button {
    background: none;
    border: none;
    cursor: pointer;
}

.bookmark-and-features{
    display: flex;
    flex-direction: column;
}


/* Game News Content */
.game-news-content {
    background-color: #383c3f;
    border: 2px solid white;
    padding: 8px;
    margin-bottom: 10px;
    white-space: pre-line;
}

/* Game Info */
.game-info {
    display: flex;
    flex-direction: row;
}

.game-info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-info p {
    margin-bottom: 20px;
}
.game-minimum ul {
    display: flex;
    list-style: none;
}

.game-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.game-info1 {
    flex: 7; /* 70%의 너비 */
    text-align: left; /* 왼쪽 정렬 */
    background-color: #383c3f;
    margin-right: 10px;
    border: 2px solid white;
    padding: 8px;
}

.game-info2 {
    flex: 3; /* 30%의 너비 */
    text-align: left; /* 오른쪽 정렬 */
    background-color: #383c3f;
    padding: 8px;
    border: 2px solid white;
}

.game-info2 ul {
    list-style: none;
}


.game-info2-1{
    padding: 8px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.game-info2-2 {
    padding: 8px;
    border: 2px solid white;
    margin-bottom: 10px;
    color: #00BFFF;
}

.highlight-text {
    color: gainsboro;
}

.game-requirements {
    color: #00BFFF;

    font-weight: bold;
}
.game-information-title{
    color: #00BFFF;

    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    font-size: 15px;
    background-color: #2a2c2e;
}

.pagination .page-link.active {
    background-color: #208cff;
    color: #2a2c2e;
}

.pagination .page-link:hover {
    background-color: #0056b3;
    color: white;
}

.filter-menu label {
    margin-left: 20px;
    margin-right: 20px;
}

.capsule-image img{

}